 html {
    font-family:ubuntu, sans-serif;
    font-weight: 400px;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

article {
    margin-top: 40px;
    margin-bottom: 120px;
}

.article-title {
    max-width: 740px;
    margin-bottom: 40px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-mb {
    margin-bottom: 80px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

p {
    margin-bottom: 20px;
}

.article-img, .article-video-preview {
    width: 100%;
}


.article-subtitle {
    font-size: 36px;
    margin-bottom: 40px;
}

.article-list {
    margin-top: 0;
    padding-left: 14px;
}

.article-video-preview {
    margin-bottom: 40px;
}