* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header {
	grid-column: 1 / -1;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-column: span 2;
	background-color: #e2e20d;
}

.main {
	grid-column: span 10;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	grid-column: 1 / -1;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (max-width: 1200px) {
    .aside {
        grid-column: span 3;
    }

    .main {
        grid-column: span 9;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .aside {
        display: none;
    }

    .main {
        grid-column: 1 / -1;
    }

    .container {
        grid-template-columns: 1fr;
    }
}