html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}



.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; 
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #000;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}
    
    .nav-link {
        color: #000;
    }
    
    
    
    
    .phone {
        text-decoration: none;
        color: #000;
    }
    
    
    @media (max-width: 768px) {
      .header-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        
      }
    }